IDI_ICON1 ICON DISCARDABLE "res/icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1, 0, 0, 0          // 文件版本（主版本.次版本.修订号.构建号）
 PRODUCTVERSION 1, 0, 0, 0       // 产品版本
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L               // 调试版本标记
#else
 FILEFLAGS 0x0L               // 发布版本标记
#endif
 FILEOS 0x40004L              // 操作系统（Windows NT）
 FILETYPE 0x1L                // 文件类型（应用程序）
 FILESUBTYPE 0x0L             // 子类型（无）
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"      // 语言代码（0409=英语，04b0=Unicode）
		BEGIN
			VALUE "CompanyName", "yzrilyzr\0"           // 公司名称
			VALUE "FileDescription", "SimpleSynthConsole\0"        // 文件描述（资源管理器中显示）
			VALUE "FileVersion", "1.0.0.0\0"                   // 文件版本字符串
			VALUE "InternalName", "SimpleSynth\0"                    // 内部名称
			VALUE "LegalCopyright", "Copyright (C) 2025 yzrilyzr\0"     // 版权信息
			VALUE "OriginalFilename", "SimpleSynthConsole.exe\0"            // 原始文件名
			VALUE "ProductName", "SimpleSynth Console\0"        // 产品名称
			VALUE "ProductVersion", "1.0.0.0\0"                // 产品版本字符串
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1200  // 对应语言代码（0409=英语，1200=Unicode）
	END
END